In [16]:
import openpyxl
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv(r"used_cars_data.csv")

In [4]:
df1=df.copy()
df2=df.copy()
df2=df.copy()

In [5]:
remove=['Mileage','Engine','Power','Seats']
df2.dropna(subset=remove, inplace=True)
df2

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [6]:

del_col=['S.No.', 'Location', 'Owner_Type', 'New_Price','Price']

In [8]:
names=df2['Name'].str.split('',expand=True)

In [9]:
df2['brand']=names[0]
df2['model']=names[1]

In [10]:
df2.drop(['Name'],axis=1,inplace=True)

In [11]:
#drop the rows where fuel type is cng or lpg 
df2=df2[df2['Fuel_Type']!='CNG']
df2=df2[df2['Fuel_Type']!='LPG']

In [12]:
df2['Power']=df2['Power'].str.strip()
df2['Power']=df2['Power'].str.replace('bhp','')
df2['Engine']=df2['Engine'].str.replace(' CC','')
df2['Engine']=df2['Engine'].astype(float)

In [ ]:
df2['Power']=df2['Power'].fillna(x)

In [13]:
df2['Power']=pd.to_numeric(df2['Power'], errors='coerce')
df2['Power'].isna().sum()

np.int64(124)

In [14]:
#bfill or ffill
df2['Seats']=df2['Seats'].fillna(method='bfill')

C:\Users\EgrYt\AppData\Local\Temp\ipykernel_15208\1663766413.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2['Seats']=df2['Seats'].fillna(method='bfill')

In [15]:
data=pd.read_excel(r'hotels_data.xlsx')

In [17]:
# #assnmnt1:#plot the names of hotels in cities if hotels > 50(count plot)
# assnmnt2: scattar plot city and star
#assnmnt2: train used cars data with linear regression model

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [19]:
random_state=42

In [20]:
tips=sns.load_dataset("tips")

In [21]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [22]:
cols=['sex','smoker','day']

In [23]:
for col in cols:
    tips[col]=LabelEncoder().fit_transform(tips[col])

In [29]:
cols_to_scale=['total_bill','tip','sex','smoker','day','time','size']
tips[cols_to_scale]=tips[cols_to_scale].apply(LabelEncoder().fit_transform)

In [30]:

tips[cols_to_scale]=MinMaxScaler().fit_transform(tips[cols_to_scale])

In [31]:
x=tips.drop(['tip'],axis=1)
y=tips['tip']

In [44]:
#splitting data
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [45]:
# model train
# r2 Score
# mse score
from sklearn.linear_model import LinearRegression

In [47]:
tips.to_csv('tips_data.csv')